body {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin: 0%;
}

span {
  color: rgb(28, 182, 105);
  font-size: 44px;
  font-weight: bold;
}
.flexible-container {
  padding-left: 7%;
  padding-top: 7%;
  display: flex;
  bottom: 100px;
  align-items: center;
}

.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
}
.half-width p {
  text-align: justify;
  margin-right: 10%;
}

.hire-me-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(68, 216, 142), rgb(28, 182, 105));
  padding: 10px 40px;
  color: azure;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.ex {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 10%;
}

.exprience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.exprience-item {
  width: 40%;
  margin: 2%;
  padding: 20px;
  border-radius: 15px;
  border-left: 10px solid;
  box-shadow: 5px 5px 20px gray;
}
#web-dev1 {
  border-left: 10px solid;
  border-image: linear-gradient(rgb(68, 216, 142), rgb(28, 182, 105));
  border-image-slice: 1;
}

#web-dev2 {
  border-left: 10px solid;
  border-image: linear-gradient(rgb(90, 68, 216), rgb(100, 28, 182));
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
